@import "tailwindcss";

#app {
  margin: 0 auto;
  background-color: #ffffff;
  width: 100%;
  min-height: 100vh;
  color: black;
  /* font: 400 1rem/1.5 'Helvetica Now Text Medium',Helvetica,Arial,sans-serif  */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; */
}

body {
  display: block;
  margin: 0px;
}
